*

!.attic
!.gitattributes
!.gitignore
!X11
!X11/Xwrapper.config
!X11/xorg.conf*
!X11/xorg.conf.d
!X11/xorg.conf.d/20-input.conf
!adobe
!adobe/mms.cfg*
!anacrontab*
!bitlbee
!bitlbee/bitlbee.conf.*
!ca-certificates
!ca-certificates/trust-source
!ca-certificates/trust-source/anchors
!conf.d
!conf.d/dnscrypt-proxy
!default
!default/grub*
!dnsmasq.conf*
!environment*
!fstab.example
!hosts.example
!hostsblock
!hostsblock/hostsblock.conf*
!issue*
!kmscon
!kmscon/kmscon.conf
!locale.conf
!locale.gen*
!localtime
!lvm
!lvm/lvm.conf.diff
!mkinitcpio.conf*
!modprobe.d
!modprobe.d/local.conf
!modules-load.d
!modules-load.d/local.conf
!netctl
!netctl/eth0-dhcp
!netctl/eth0-local
!netctl/usb0-dhcp
!nftables.conf.example
!pacman.conf*
!pam.d
!pam.d/sudo
!postfix
!postfix/aliases
!postfix/aliases.orig
!postfix/main.cf
!postfix/main.cf.pkgorig
!postfix/master.cf.diff
!profile.d
!profile.d/zzz-local.sh
!resolv.conf.*
!resolvconf.conf*
!smartd.conf*
!ssh
!ssh/sshd_config*
!sysctl.d
!sysctl.d/local.conf
!systemd
!systemd/logind.conf*
!systemd/network
!systemd/network/eth0-dhcp.network
!systemd/network/eth0-local.network
!systemd/network/usb0-dhcp.network
!systemd/network/wlan0-dhcp.network
!systemd/system
!systemd/system.conf*
!systemd/system/bitlbee.socket
!systemd/system/dnscrypt-proxy.*
!systemd/system/docker.service
!systemd/system/local-*
!systemd/system/tpacpi-bat.service
!tmpfiles.d
!tmpfiles.d
!tmpfiles.d/local.conf
!tmpfiles.d/tmp.conf
!udev
!udev/rules.d
!udev/rules.d/60-schedulers.rules
!udev/rules.d/80-net-setup-link.rules
!udev/rules.d/98-backlight.rules
!udev/rules.d/98-buspirate.rules
!udev/rules.d/98-fbcon.rules
!udev/rules.d/98-ols.rules
!udev/rules.d/98-powersave.rules
!udev/rules.d/98-rfkill.rules
!udev/rules.d/98-udisks2.rules
!vconsole*
!wpa_supplicant
!wpa_supplicant/wpa_supplicant-wlan0.conf
!wpa_supplicant/wpa_supplicant.conf.example
!wpa_supplicant/wpa_supplicant.conf.orig
