*
!.attic
!.gitattributes
!.gitignore
!X11/xorg.conf.d/10-evdev.conf*
!adobe/mms.cfg*
!default/grub*
!environment*
!laptop-mode/conf.d/cpufreq.conf*
!laptop-mode/laptop-mode.conf.diff
!locale.conf
!locale.gen*
!lvm/lvm.conf.diff
!mkinitcpio.conf*
!modprobe.d/local.conf
!modules-load.d/local.conf
!netctl/eth0-dhcp
!netctl/eth0-local
!netctl/usb0-dhcp
!pacman.conf*
!pacman.d/mirrorlist.make
!pam.d/sudo*
!postfix/aliases*
!postfix/main.cf
!postfix/main.cf.orig
!profile.d/zzz-local.sh
!ssh/sshd_config*
!sudoers.d/local
!sysctl.d/local.conf
!systemd/logind.conf*
!systemd/system.conf*
!systemd/system/local-*
!thinkfan.conf
!udev/rules.d/60-schedulers.rules
!udev/rules.d/80-net-setup-link.rules
!udev/rules.d/98-buspirate.rules
!udev/rules.d/98-ols.rules
!udev/rules.d/98-udisks2.rules
!vconsole*
!yaourtrc*
