*
!.gitignore

!.attic

!X11/xorg.conf.d/10-evdev.conf*

!adobe/mms.cfg*

!default/grub*

!laptop-mode/conf.d/cpufreq.conf*
!laptop-mode/laptop-mode.conf.diff

!lvm/lvm.conf.diff

!modprobe.d/local.conf

!modules-load.d/local.conf

!netctl/eth0-dhcp
!netctl/eth0-local
!netctl/usb0-dhcp

!pacman.d/mirrorlist.make

!pam.d/sudo*

!postfix/aliases*
!postfix/main.cf
!postfix/main.cf.orig

!profile.d/zzz-local.sh

!ssh/sshd_config*

!sudoers.d/local

!sysctl.d/local.conf

!systemd/system/local-*
!systemd/logind.conf*
!systemd/system.conf*

!udev/rules.d/98-buspirate.rules
!udev/rules.d/98-ols.rules

!environment*
!locale.conf
!locale.gen*
!mkinitcpio.conf*
!pacman.conf*
!vconsole*
!yaourtrc*
