#!/usr/bin/nft -f

table inet filter {
    chain input {
        type filter hook input priority filter

        ct state { established, related } accept
        ct state invalid drop
        iifname lo accept
        ip protocol icmp accept
        ip6 nexthdr icmpv6 accept

        udp dport 5353 accept
        #tcp dport <port> accept

        reject
    }

    chain forward {
        type filter hook forward priority filter; policy drop

        #iifname <ifname> accept
        #oifname <ofname> accept
    }

    chain output { type filter hook output priority filter; }
}

table ip nat {
    chain prerouting { type nat hook prerouting priority dstnat; }
    chain postrouting { type nat hook postrouting priority srcnat; }
}

# vim: ft=conf fdm=marker
