# set deadline scheduler for non-rotating disks
KERNEL=="sd[a-z]", ACTION=="add|change", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="deadline"

# set cfq scheduler for rotating disks
KERNEL=="sd[a-z]", ACTION=="add|change", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="cfq"
