ACTION!="add", GOTO="rfkill_end"
SUBSYSTEM!="rfkill", GOTO="rfkill_end"

ATTR{type}=="bluetooth", ATTR{name}=="hci0", ATTR{soft}="0", GOTO="rfkill_end"
ATTR{type}=="wlan", ATTR{name}=="phy0", ATTR{soft}="0", GOTO="rfkill_end"

ATTR{soft}="1"

LABEL="rfkill_end"
