ACTION!="add", GOTO="rfkill_end"
SUBSYSTEM!="rfkill", GOTO="rfkill_end"

RUN+="/usr/bin/chgrp rfkill /sys/class/rfkill/%k/state"
RUN+="/usr/bin/chmod g+w /sys/class/rfkill/%k/state"

ATTR{type}=="bluetooth", ATTR{name}=="hci0", ATTR{soft}="0", GOTO="rfkill_end"
ATTR{type}=="wlan", ATTR{name}=="phy0", ATTR{soft}="0", GOTO="rfkill_end"

ATTR{soft}="1"

LABEL="rfkill_end"
