[Unit]
Description=sdbdown
DefaultDependencies=no
After=basic.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/home/miro/bin/sdbdown

[Install]
WantedBy=basic.target suspend.target hibernate.target hybrid-sleep.target
