[Unit]
Description=lock
DefaultDependencies=no
Before=sleep.target

[Service]
Type=forking
ExecStart=/bin/bash -c '/home/miro/bin/lock & sleep 1'

[Install]
RequiredBy=sleep.target
