[Unit]
Description=sdbdown
After=basic.target
After=suspend.target
After=hibernate.target

[Service]
Type=oneshot
User=mirci
ExecStart=/home/mirci/bin/sdbdown

[Install]
WantedBy=basic.target
WantedBy=suspend.target
WantedBy=hibernate.target
