[Unit]
Description=bay-standby
DefaultDependencies=no
After=basic.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bay-standby

[Install]
WantedBy=basic.target suspend.target hibernate.target hybrid-sleep.target
