#
# /etc/hosts: static lookup table for host names
#

#<ip-address>   <hostname.domain.org>   <hostname>
127.0.0.1       localhost.localdomain   localhost       mirci
::1             localhost.localdomain   localhost       mirci
8.8.8.8                                 google-dns1
8.8.4.4                                 google-dns2

# End of file
