ap_scan=1
eapol_version=1
fast_reauth=1
pmf=1
update_config=0

ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=adm

# WPA-PSK
network={
    ssid="ssid"
    psk=<see wpa_passphrase>
    priority=1
}

# WPA-PSK (hidden ssid)
network={
    ssid="ssid"
    scan_ssid=1
    psk=<see wpa_passphrase>
    priority=1
}
